{% extends 'base.html.twig' %}
{% import '/cards/note/view.html.twig' as noteView %}

{% block body %}
    {% if note is defined or actor is defined %}
        <div class="section-widget-padded">
            {% if note is defined %}
                {{ noteView.macro_note(note, {}) }}
            {% elseif actor is defined %}
                {% include 'cards/profile/view.html.twig' with {'actor': actor} only %}
            {% endif %}
        </div>
    {% endif %}
    {% if new_tags_form is not null %}
        <p>{{ new_label }}</p>
        {{ form(new_tags_form) }}
        <hr>
    {% endif %}
    {% if existing_tags_form is not null %}
        <p>{{ existing_label }}</p>
        {{ form(existing_tags_form) }}
    {% endif %}
{% endblock %}
