<form method="post">
    {% if app.user %}
    <div class="mb-3">
        You are logged in as {{ app.user.username }}, <a href="{{ path('api_logout') }}">Logout</a>
    </div>
    {% endif %}

    <h1 class="h3 mb-3 font-weight-normal">Grant Permissions</h1>
    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >
    <input type="hidden" name="email"
           value="{{ email }}"
    >
    <input type="hidden" name="password"
           value="{{ password }}"
    >

    <p>Grant the following permissions:</p>
    <ul>
        {% for scope in scopes %}
        <li>{{ scope }}: {{ scope }}</li>
        {% endfor %}
    </ul>

    <button class="btn btn-lg btn-primary" type="submit" name="action" value="{{ grant }}">
        Grant
    </button>

    <button class="btn btn-lg btn-primary" type="submit" name="action" value="Deny">
        Deny
    </button>
</form>