{% extends 'stdgrid.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel='stylesheet' type='text/css' href="{{ asset('assets/css/security/security.css') }}">
{% endblock %}

{% block title %}{{ "Log in!" | trans }}{% endblock %}

{% block body %}
    <section class="section-widget">
        <form class="section-form" method="post">
            <fieldset>
                <legend class="section-form-legend">{{ "Login" | trans }}</legend>

                {% if error %}
                    <label class="alert alert-danger">
                        {{ error.getMessage() }}
                    </label>
                {% endif %}

                {% if app.user %}
                    <h2>
                        {{ "You are logged in as" | trans }} {{ app.user.username }}.
                        <button class="btn btn-lg btn-primary">
                            <a href="{{ path('app_logout') }}">{{ "Logout" | trans }}</a>
                        </button>
                    </h2>
                {% else %}
                    <div class="form-row">
                        <label class="section-form-label" for="inputNicknameOrEmail">{{ "Nickname or Email" | trans }}</label>
                        <input type="text" value="{{ last_login_id }}" name="_username" id="inputNicknameOrEmail" class="form-control" required autofocus>
                        <p class="help-text">{{ "Your nickname or email address." | trans }}</p>
                    </div>
                    <div class="form-row">
                        <label class="section-form-label" for="inputPassword">{{ "Password" | trans }}</label>
                        <input type="password" name="_password" id="inputPassword" class="form-control" required>
                        <p class="help-text">{{ "Your account's password." | trans }}</p>
                    </div>

                    <span class="form-row-checkbox">
                        <label for="inputRememberMe">{{ "Remember me" | trans }}</label>
                        <input type="checkbox" name="_remember_me" id="inputRememberMe">
                    </span>

                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                    <div>
                        <button class="btn btn-lg btn-primary" type="submit">Sign in</button>
                    </div>

                {% endif %}
            </fieldset>
        </form>
    </section>
{% endblock body %}

{% block javascripts %}{% endblock %}
