{% extends 'stdgrid.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel='stylesheet' type='text/css' href="{{ asset('assets/css/security/security.css') }}">
{% endblock %}

{% block title %}Register{% endblock %}

{% block body %}
    <section class="section-widget">

        <form class="section-form" method="post">
            {{ form_start(registration_form) }}
            <fieldset>
                <legend class="section-form-legend">{{ "Register" | trans }}</legend>

                <ul>
                    {% for flashError in app.flashes('verify_email_error') %}
                        <li class="alert alert-danger" role="alert">{{ flashError }}</li>
                    {% endfor %}
                    {% for flashError in app.flashes('verify_nickname_error') %}
                        <li class="alert alert-danger" role="alert">{{ flashError }}</li>
                    {% endfor %}
                </ul>

                {{ form_row(registration_form.nickname) }}
                {{ form_row(registration_form.email) }}
                {{ form_row(registration_form.password) }}
                {{ form_row(registration_form.register) }}
            </fieldset>
            {{ form_end(registration_form) }}
        </form>

    </section>
{% endblock body %}

{% block javascripts %}{% endblock %}
