{% extends 'left/left.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel='stylesheet' type='text/css' href="{{ asset('assets/css/login/login.css') }}">
{% endblock %}

{% block title %}Register{% endblock %}

{% block left %}
    <div id='left-panel'>
        <input type="checkbox" checked id="toggle">
        <div class="icon-menu">
            <label for="toggle" id='menu'></label>
        </div>
        <div class='navbar'>
            <div class="left-nav">
                <a href="{{ path('login') }}" class='hover-effect {{ active('login') }}'>Login</a>
                <a href="{{ path('register') }}" class='hover-effect {{ active('register') }}'>Register</a>
                <div class='content'>
                    {% for flashError in app.flashes('verify_email_error') %}
                        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
                    {% endfor %}

                    <div class="register-info">
                        {{ form(registration_form) }}
                    </div>
                </div>
            </div>
            <div class="footer">
                <a href="{{ path('doc_faq') }}" class='hover-effect {{ active('doc_faq') }}'>FAQ</a>
                <a href="{{ path('doc_tos') }}" class='hover-effect {{ active('doc_tos') }}'>TOS</a>
                <a href="{{ path('doc_privacy') }}" class='hover-effect {{ active('doc_privacy') }}'>Privacy</a>
                <a href="{{ path('doc_source') }}" class='hover-effect {{ active('doc_source') }}'>Source</a>
                <a href="{{ path('doc_version') }}" class='hover-effect {{ active('doc_version') }}'>Version</a>
            </div>
        </div>
    </div>
{% endblock %}

{% block body %}
    <div class="content">
        {% if post_form is defined %}
            {{ form_start(post_form) }}
            <div class="create-notice">
                <div class="target">
                    <div class="target-top">
                        {{ form_label(post_form.to) }}
                    </div>
                    <div class="target-bot">
                        {{ form_widget(post_form.to) }}
                    </div>
                </div>
                <div class="create-right">
                    <div class="scope">
                        {{ form_row(post_form.visibility) }}
                    </div>
                    <div class="input-wrapper">
                        <div class="content-input">
                            {{ form_row(post_form.content) }}
                        </div>
                    </div>
                    <div class="notice-options">
                        <div class="attachments">
                            {{ form_widget(post_form.attachments) }}
                            <label for="{{ post_form.attachments.vars.id }}">
                                <svg class="icon icon-attach">
                                    <use xlink:href="#icon-attach"></use>
                                </svg>
                            </label>
                        </div>
                        <div class="post">
                            {{ form_row(post_form.post) }}
                        </div>
                    </div>
                </div>
            </div>
            {{ form_end(post_form) }}
        {% endif %}
        <div class="main" id="login-main">
            <div class="notes-wrap" id="login-notes">
                <nav class='main-nav'>
                    <ul>
                        <li>
                            <a class='hover-effect {{ active('register') }}'>Public</a>
                        </li>

                    </ul>
                </nav>
                <div class="timeline">
                    <div class="notes">
                        {% if notes is defined and notes is not empty %}
                            {% for note in notes %}
                                {% set id = note.getId() - 1 %}
                                {% include '/note/view.html.twig' with {'note': note, 'have_user': have_user} only %}
                            {% endfor %}
                        {% else %}
                            <h1>{% trans %}No notes here.{% endtrans %}</h1>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}

{% block javascripts %}{% endblock %}
