{% if attachment.getFilename() is not null %}
    <div>
        <figure>
            <video
                {% if attachment.getWidth() is not null %}
                    class="u-video"
                {% else %}
                    class="u-audio"
                {% endif %}
                src="{{ attachment.getUrl(note) }}" controls
                {% if attachment.getWidth() is not null %}
                    poster="{{ attachment.getThumbnailUrl(note, 'medium')}}"
                {% endif %}
            >
            </video>
            <figcaption>
                {% if attachment.getFilename() is not null %}
                    <a href="{{ attachment.getShowUrl(note) }}">{{ title }}</a>
                {% else %}
                    {{ title }}
                {% endif %}            </figcaption>
        </figure>
    </div>
{% else %}
{# Not stored locally. #}
{% endif %}
