<div>
    <figure>
        <video class="u-video" src="{{ attachment.getUrl() }}" controls poster="{{ attachment.getThumbnailUrl('medium')}}">
        </video>
        <figcaption>
            {% if attachment.getFilename() is not null %}
                <a href="{{ path('attachment_show', {'id': attachment.getId()}) }}">{{ attachment.getBestTitle(note) }}</a>
            {% else %}
                {{ attachment.getBestTitle(note) }}
            {% endif %}
        </figcaption>
    </figure>
</div>
