{% extends 'base.html.twig' %}

{% block stylesheets %}
  {{ parent() }}
  <link rel="stylesheet" href="{{ asset('assets/default_theme/css/pages/feeds.css') }}" type="text/css">
{% endblock stylesheets %}

{% block body %}
  <h2>{{ 'Actors containing tag:' | trans }} {{ tag_name }}</h2>

  {% for pinned in handle_event('AddPinnedFeedContent', app.request) %}
    {% include pinned['template'] with { 'actor_tags': pinned['vars']} only %}
  {% endfor %}

  {% for actor in results %}
    {% block profile_view %}{% include 'cards/profile/view.html.twig' %}{% endblock profile_view %}
  {% endfor %}

  <div class="section-widget section-widget-padded">
    {{ "Page: " ~ page }}
  </div>
{% endblock %}
