{% extends 'stdgrid.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
<section class="section-widget section-padding">
    <h1 class="section-title">{{ title }}</h1>

    <div>
        <p>{% trans %}Sort by:{% endtrans %}</p>
        <form method="GET">
            {% for field in sort_form_fields %}
                <label for="order_by_{{ field.value }}">{{ field.label }}</label>
                <input id="order_by_{{ field.value }}" type="radio" name="order_by" value="{{ field.value }}" {% if field.checked %}checked="checked"{% endif %}>
            {% endfor %}
            <button type="submit" name="order_op" value="ASC">{% trans %}Ascending{% endtrans %}</button>
            <button type="submit" name="order_op" value="DESC">{% trans %}Descending{% endtrans %}</button>
        </form>
    </div>

    <div class="section-padding">
        {% if actors is defined and actors is not empty %}
            {% for actor in actors %}
                {% block profile_view %}{% include 'cards/profile/view.html.twig' %}{% endblock profile_view %}
                <hr>
            {% endfor %}
            <p>{% trans %}Page: %page%{% endtrans %}</p>
        {% else %}
            <h2>{{ empty_message }}</h2>
        {% endif %}
    </div>
</section>
{% endblock body %}
