{% set actor_nickname = actor.nickname() %}
{% set actor_tags = actor.getSelfTags() %}
{% set actor_bio = actor.getBio() %}

{% block body %}
<section class='section-widget section-widget-padded' title="{{ 'Your profile information.' | trans }}">
        <a id="user" href="{{ path('actor_view_nickname', {'nickname' : actor_nickname}) }}">
            <img src='{{ user_avatar }}' class="icon icon-avatar" alt="{{ 'Your account\'s avatar.' | trans }}">
            <div class="user-info">
                <strong id="user-nickname" title="{{ 'Your account\' nickname.' | trans }}">{{ actor_nickname }}</strong>

                <nav class="user-tags">
                    {% if actor_tags %}
                        {% for tag in actor_tags %}
                            <a href='#'><i> #{{ tag }} </i></a>
                        {% endfor %}
                    {% else %}
                        <i> {{ '(No tags)' | trans }} </i>
                    {% endif %}
                </nav>

                <section class="user-bio">
                    {% if actor_bio %}
                        <p>{{ actor_bio }}</p>
                    {% else %}
                        <p>{{ '(No bio)' | trans }}</p>
                    {% endif %}
                </section>
            </div>
        </a>
</section>
{% endblock body %}