{% set actor_nickname = actor.getNickname() %}
{% set actor_avatar = actor.getAvatarUrl() %}
{% set actor_tags = actor.getSelfTags() %}
{% set actor_bio = actor.getBio() %}

{% block body %}
<section title="{{ actor_nickname }}'s {{ 'profile information.' | trans }}">
        <a class='profile' href="{{ path('actor_view_nickname', {'nickname' : actor_nickname}) }}">
            <img src='{{ actor_avatar }}' class="profile-avatar" alt="{{ 'Your account\'s avatar.' | trans }}">
            <div class="profile-info">
                <strong id="profile-info-nickname" title="{{ 'Your account\' nickname.' | trans }}">{{ actor_nickname }}</strong>

                <nav class="profile-info-tags">
                    {% if actor_tags %}
                        {% for tag in actor_tags %}
                            <a href='#'><i> #{{ tag }} </i></a>
                        {% endfor %}
                    {% else %}
                        {{ '(No tags)' | trans }}
                    {% endif %}
                </nav>

                <section class="profile-info-stats">
                    {% if actor_bio %}
                        <p>{{ actor_bio }}</p>
                    {% else %}
                        <p>{{ '(No bio)' | trans }}</p>
                    {% endif %}
                </section>
            </div>
        </a>
</section>

<hr>
{% endblock body %}