{% extends 'stdgrid.html.twig' %}

{% set nickname = group.getNickname() %}

{% block title %}{{ nickname }}'s page{% endblock %}

{% block body %}
<div class="group">
    <div class="group-content">
        <a href="{{ group.getHomepage() }}">
            <div class="group-info">

                <div class="group-img">
                    <img class="icon icon-group" src="{{  group.getStreamLogo() }}" alt="{{ nickname }}'s logo">
                </div>
                <div class="group-nickname">
                    <b id="nick">{{ nickname }}</b>
                </div>
            </div>
        </a>
        {% set group_description = group.getDescription() %}
        <div class="group-description">
            {% if group_description %}
                <p>{{ group_description }}</p>
            {% else %}
                <p>{{ '(No description)' | trans }}</p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock body %}
