{% extends 'stdgrid.html.twig' %}

{% block meta %}
    {{ parent() }}
{% endblock %}

{% block title %}Welcome!{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel='stylesheet' type='text/css' href="{{ asset('assets/css/network/public.css') }}">
{% endblock %}

{% block header %}
    {{ parent() }}
{% endblock %}

{% block left %}
    {{ parent() }}
{% endblock %}

{% block body %}

    <div class="content">

        {# Backwards compatibility with hAtom 0.1 #}
        <div class="timeline">
            <div class="h-feed hfeed notes">
                {% if notes is defined and notes is not empty %}
                    {% for conversation in notes %}
                        {% include '/note/view.html.twig' with {'note': conversation['note'], 'have_user': have_user, 'replies': conversation['replies']} only %}
                    {% endfor %}
                {% else %}
                    <div id="empty-notes"><h1>{% trans %}No notes here.{% endtrans %}</h1></div>
                {% endif %}
            </div>
        </div>

    </div>
{% endblock body %}

{% block javascripts %}{% endblock %}
