{% extends 'left/left.html.twig' %}

{% block meta %}
    {{ parent() }}
{% endblock %}

{% block title %}Welcome!{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel='stylesheet' type='text/css' href="{{ asset('assets/css/network/public.css') }}"
          media="screen and (min-width: 1300px)">
    <link rel='stylesheet' type='text/css' href="{{ asset('assets/css/network/public_mid.css') }}"
          media="screen and (max-width: 1300px)">
    <link rel='stylesheet' type='text/css' href="{{ asset('assets/css/network/public_small.css') }}"
          media="screen and (max-width: 750px)">
{% endblock %}

{% block header %}
    {{ parent() }}
{% endblock %}

{% block left %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <div class="content">
        {% if post_form is defined %}
            {{ form_start(post_form) }}
                <div class="create-notice">
                    <div class="target">
                        <div class="target-top">
                            {{ form_label(post_form.to) }}
                        </div>
                        <div class="target-bot">
                            {{ form_widget(post_form.to) }}
                        </div>
                    </div>
                    <div class="create-right">
                        <div class="scope">
                            {{ form_row(post_form.visibility) }}
                        </div>
                        <div class="input-wrapper">
                            <div class="content-input">
                                {{ form_row(post_form.content) }}
                            </div>
                        </div>
                        <div class="notice-options">
                            <div class="attachments">
                                {{ form_widget(post_form.attachments) }}
                                <label for="{{ post_form.attachments.vars.id }}">
                                    <svg class="icon icon-attach">
                                        <use xlink:href="#icon-attach"></use>
                                    </svg>
                                </label>
                            </div>
                            <div class="send">
                                {{ form_row(post_form.send) }}
                            </div>
                        </div>
                    </div>
                </div>
            {{ form_end(post_form) }}
        {% endif %}
        <div class="main">
            <nav class='main-nav'>
                <ul>
                    <li>
                        <a href="{{ path('main_all') }}" class='hover-effect {{ active('main_all') }}'>Timeline</a>
                    </li>
                </ul>
            </nav>
            <div class="notes-wrap">
                <nav class='main-nav'>
                    <ul>
                        <li>
                            <a href="{{ path('main_all') }}" class='hover-effect {{ active('main_all') }}'>Public</a>
                        </li>
                        {% if user_nickname is defined %}
                          <li>
                            <a href="{{ path("home_all", {'nickname' : user_nickname}) }}" class='hover-effect {{ active("home_all") }}'>Home</a>
                          </li>
                        {% endif %}
                        <li>
                            <a href="#">Network</a>
                        </li>
                    </ul>
                </nav>
                <div class="timeline">
                    <div class="notes">
                        {% if notes is defined and notes is not empty %}
                            {% for note in notes %}
                              {% set id = note.getId() - 1 %}
                              {% include '/note/view.html.twig' with {'note': note} only  %}
                            {% endfor %}
                        {% else %}
                            <h1>{% trans %}No notes here.{% endtrans %}</h1>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}

{% block javascripts %}{% endblock %}
