{% extends 'left/left.html.twig' %}

{% block meta %}
    {{ parent() }}
{% endblock %}

{% block title %}Welcome!{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel='stylesheet' type='text/css' href="{{ asset('assets/css/network/public.css') }}"
          media="screen and (min-width: 1300px)">
    <link rel='stylesheet' type='text/css' href="{{ asset('assets/css/network/public_mid.css') }}"
          media="screen and (max-width: 1300px)">
    <link rel='stylesheet' type='text/css' href="{{ asset('assets/css/network/public_small.css') }}"
          media="screen and (max-width: 750px)">
{% endblock %}

{% block header %}
    {{ parent() }}
{% endblock %}

{% block left %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <div class="content">
        {% if post_form is defined %}
            {{ form_start(post_form) }}
                <div class="create-notice">
                    <div class="scope">
                        {{ form_row(post_form.scope) }}
                    </div>
                    <div class="content-input">
                        {{ form_row(post_form.content) }}
                    </div>
                    <div class="notice-options">
                        <div class="attachments">
                            {{ form_row(post_form.attachments) }}
                        </div>
                        <div class="send">
                            {{ form_row(post_form.send) }}
                        </div>
                    </div>
                </div>
            {{ form_end(post_form) }}
        {% endif %}
        <div class="main">
            <nav class='main-nav'>
                <ul>
                    <li>
                        <a href="{{ path('main_all') }}" class='hover-effect {{ active('main_all') }}'>Timeline</a>
                    </li>
                    <li>
                        <a href="#">Groups</a>
                    </li>
                    <li>
                        <a href="#">People</a>
                    </li>
                </ul>
            </nav>
            <div class="notes-wrap">
                <nav class='main-nav'>
                    <ul>
                        <li>
                            <a href="{{ path('main_all') }}" class='hover-effect {{ active('main_all') }}'>Public</a>
                        </li>
                        <li>
                            <a href="#">Home</a>
                        </li>
                        <li>
                            <a href="#">Network</a>
                        </li>
                    </ul>
                </nav>
                <div class="timeline">
                    <div class="notes">
                        {% if notes is defined and notes is not empty %}
                            {% for note in notes %}
                                <div class="notice">
                                    <div class="notice-info">
                                        <a href="{{ path('settings_avatar') }}">
                                            <img src="{{ note.getAvatarUrl() }}" alt="{{ note.getActorNickname() }}'s avatar">
                                        </a>
                                        <b>{{ note.getActorNickname() }}</b>
                                    </div>
                                    <div class="notice-content">
                                        {{ note.getContent() }}
                                        {% set id = note.getId() - 1 %}
                                        {% for attachment in attachments[id] %}
                                            <div>
                                                <i> {{ attachment.getTitle() }} </i>
                                            </div>
                                        {% endfor %}
                                    </div>
                                    <div class="notice-actions">
                                    </div>
                                </div>
                            {% endfor %}
                        {% else %}
                            <h1>{% trans %}No notes here.{% endtrans %}</h1>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}

{% block javascripts %}{% endblock %}
