{% extends 'left/left.html.twig' %}

{% block meta %}
    {{ parent() }}
{% endblock %}

{% block title %}Welcome!{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel='stylesheet' type='text/css' href="{{ asset('assets/css/network/public.css') }}" media="screen and (min-width: 1300px)">
    <link rel='stylesheet' type='text/css' href="{{ asset('assets/css/network/public_mid.css') }}" media="screen and (max-width: 1300px)">
    <link rel='stylesheet' type='text/css' href="{{ asset('assets/css/network/public_small.css') }}" media="screen and (max-width: 750px)">
{% endblock %}

{% block header %}
    {{ parent() }}
{% endblock %}

{% block left %}
    {{ parent() }}
{% endblock %}

{% block body %}
<div class="content">
  <div class="main">
    <nav class='main-nav'>
      <ul>
        <li>
          <a href="{{ path('main_all') }}" class='hover-effect {{ active('main_all') }}'>Timeline</a>
        </li>
        <li>
          <a href="#">Groups</a>
        </li>
        <li>
          <a href="#">People</a>
        </li>
      </ul>
    </nav>
    <hr>
      <div class="notes-wrap">
        <nav class='main-nav'>
          <ul>
            <li>
              <a href="{{ path('main_all') }}" class='hover-effect {{ active('main_all') }}'>Public</a>
            </li>
            <li>
              <a href="#">Home</a>
            </li>
            <li>
              <a href="#">Network</a>
            </li>
          </ul>
        </nav>
        <div class="note-post">
          {{ form(post_form) }}
        </div>
        <div class="timeline-nav">
          <div class="notes">
            {% if notes is defined %}
              {% for note in notes %}
                  <div>
                    <b>{{ note.getActorNickname() }}</b>
                    <div>{{ note.getContent() }}</div>
                  </div>
              {% endfor %}
            {% else %}
              {{ 'No notes here.' | trans }}
            {% endif %}
          </div>
        </div>
      </div>
    </hr>
  </div>
</div>
{% endblock body %}

{% block javascripts %}{% endblock %}
