{% extends 'stdgrid.html.twig' %}
{% import '/cards/note/view.html.twig' as noteView %}

{% set nickname = nickname|escape %}
{% block title %}{{ nickname }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/default_theme/css/pages/feeds.css') }}" type="text/css">
{% endblock stylesheets %}

{% block body %}
    {% if subscribe_form is defined and subscribe_form is not null %}
        {{ form(subscribe_form) }}
    {% endif %}

    {% if actor is defined and actor is not null %}
        {% block profile_view %}
            {% include 'cards/profile/view.html.twig' with { 'actor': actor } only %}
        {% endblock profile_view %}

        <main class="feed" tabindex="0" role="feed">
            <div class="h-feed hfeed notes">
                {% if notes is defined and notes is not empty %}
                    {% for conversation in notes %}
                        {% block current_note %}
                            {% if conversation is instanceof('array') %}
                                {{ noteView.macro_note(conversation['note'], conversation['replies']) }}
                            {% else %}
                                {{ noteView.macro_note(conversation) }}
                            {% endif %}
                            <hr tabindex="0" title="{{ 'End of note and replies.' | trans }}">
                        {% endblock current_note %}
                    {% endfor %}
                {% else %}
                    <div id="empty-notes"><h1>{% trans %}No notes here.{% endtrans %}</h1></div>
                {% endif %}
            </div>
        </main>
        
    {% else %}
        <div class="section-padding section-widget">
            <p>{% trans with { '%group%': nickname } %}The group <em>%group%</em> doesn't exist.{% endtrans %}</p>
            {% if create_form is defined and create_form is not null %}
                <p>{% trans %}Would you like to create it?{% endtrans %}</p>
                {{ form(create_form) }}
            {% endif %}
        </div>
    {% endif %}
{% endblock body %}
