{% block feeds %}
  <section class="section-widget section-widget-padded">
    <h2 class="section-title">{{ icon('logo', 'icon icon-logo') | raw }}{{ 'Feeds' | trans }}
    {% if app.user %}
        {# User custom feeds #}
        <a class="edit-feed-link" href="{{ path('edit_feeds') }}">{{ icon('edit', 'icon icon-edit-feed') | raw }}</a>
    {% endif %}
    </h2>
    <nav class='sec-nav' tabindex="0" title="{{ 'Navigate through each feed.' | trans }}">
      {% if not app.user %} {# Default feeds #}
        <ul>
          <li>
            <a href="{{ path('main_public') }}" class='{{ active('main_public') }}'>
              Public
            </a>
          </li>
          <li>
            <a href="{{ path('main_all') }}" class='hover-effect {{ active('main_all') }}'>
              Network
            </a>
          </li>
        </ul>
      {% else %}
        <ul>
          {% for link in get_feeds(current_actor) %}
            <li>
              <a href="{{ link.getUrl() }}" class='{{ active(link.getRoute()) }}'>{{ link.getTitle() }}</a>
            </li>
          {% endfor %}
        </ul>
      {% endif %}
    </nav>
  </section>
{% endblock feeds %}

{% block profile_current_actor %}
<nav tabindex="0" class="profile-navigation" title="{{ 'Navigate through account related pages.' | trans }}">

    <a title='{{ 'Access your account settings.' | trans }}' href="{{ path('settings') }}" class='{{ active('settings') }}'>
        Settings
    </a>

    <a title='{{ 'Logout from your account.' | trans }}' href='{{ path('security_logout') }}'>
        Logout
    </a>
</nav>
{% endblock profile_current_actor %}

{% block profile_security %}
    <section class='section-widget section-widget-padded' title="{{ 'Your profile information.' | trans }}">
        <h2 class="section-title">Account</h2>
        <nav tabindex="0" class="profile-navigation" title="{{ 'Navigate through account related pages.' | trans }}">

            <a title='{{ 'Login with your existing account.' | trans }}' href="{{ path('security_login') }}" class='hover-effect {{ active('login') }}'>
                Login
            </a>

            <a title='{{ 'Register a new account!' | trans }}' href="{{ path('security_register') }}">
                Register
            </a>

        </nav>
    </section>
{% endblock profile_security %}

{% block footer %}
<footer class="footer">
    <nav>
        <a href="{{ path('doc_faq') }}" class='hover-effect {{ active('doc_faq') }}'>
            FAQ
        </a>
        <a href="{{ path('doc_tos') }}" class='hover-effect {{ active('doc_tos') }}'>
            TOS
        </a>
        <a href="{{ path('doc_privacy') }}" class='hover-effect {{ active('doc_privacy') }}'>
            Privacy
        </a>
        <a href="{{ path('doc_source') }}" class='hover-effect {{ active('doc_source') }}'>
            Source
        </a>
        <a href="{{ path('doc_version') }}" class='hover-effect {{ active('doc_version') }}'>
            Version
        </a>
    </nav>
</footer>
{% endblock footer %}
