{% block feeds %}
  <section class="frame-section" title="{{ 'Feed navigation.' | trans }}">
    <details class="section-details-title" open="open"
             title="{{ 'Expand if you want to access more options.' | trans }}">
      <summary class="details-title-summary">
        <h2>{{ 'Feeds' | trans }}</h2>
        {% if app.user %}
          {# User custom feeds #}
          <a class="edit-feed-link" href="{{ path('edit_feeds') }}">{{ icon('edit', 'icon icon-edit-feed') | raw }}</a>
        {% endif %}
      </summary>

      <nav class="frame-section-padding" tabindex="0" title="{{ 'Navigate through each feed.' | trans }}">
        {% if not app.user %} {# Default feeds #}
          <ul>
            <li>
              <a href="{{ path('feed_public') }}" class='hover-effect {{ active('feed_public') }}'>
                {{ 'Feed' | trans }}
              </a>
            </li>
          </ul>
        {% else %}
          <ul>
            {% for link in get_feeds(current_actor) %}
              <li>
                <a href="{{ link.getUrl() }}" class='{{ active(link.getRoute()) }}'>{{ link.getTitle() }}</a>
              </li>
            {% endfor %}
            {% for link in handle_event('AddMainNavigationItem', {'nickname': current_actor.getNickname()}) %}
              <li>
                <a href="{{ link['path'] }}" class='{{ active(link['path_id']) }}'>
                  {{ link['title'] }}
                </a>
              </li>
            {% endfor %}
          </ul>
        {% endif %}
      </nav>
    </details>
  </section>
{% endblock feeds %}

{% block profile_current_actor %}
<nav tabindex="0" class="profile-navigation" title="{{ 'Navigate through account related pages.' | trans }}">

    <a title='{{ 'Access your account settings.' | trans }}' href="{{ path('settings') }}" class='{{ active('settings') }}'>
        {% trans %}Settings{% endtrans %}
    </a>

    <a title='{{ 'Logout from your account.' | trans }}' href='{{ path('security_logout') }}'>
        {% trans %}Logout{% endtrans %}
    </a>
</nav>
{% endblock profile_current_actor %}

{% block profile_security %}
    <section class='frame-section frame-section-padding' title="{{ 'Your profile information.' | trans }}">
        <h2 class="section-title">Account</h2>
        <nav tabindex="0" class="profile-navigation" title="{{ 'Navigate through account related pages.' | trans }}">

            <a title='{{ 'Login with your existing account.' | trans }}' href="{{ path('security_login') }}" class='hover-effect {{ active('login') }}'>
                {% trans %}Login{% endtrans %}
            </a>

            <a title='{{ 'Register a new account!' | trans }}' href="{{ path('security_register') }}">
                {% trans %}Register{% endtrans %}
            </a>

        </nav>
    </section>
{% endblock profile_security %}

{% block footer %}
<nav class="footer">
    <ul>
        <li>
            <a href="{{ path('doc_faq') }}" class='hover-effect {{ active('doc_faq') }}'>FAQ</a>
        </li>
        <li>
            <a href="{{ path('doc_tos') }}" class='hover-effect {{ active('doc_tos') }}'>TOS</a>
        </li>
        <li>
            <a href="{{ path('doc_privacy') }}" class='hover-effect {{ active('doc_privacy') }}'>Privacy</a>
        </li>
        <li>
            <a href="{{ path('doc_source') }}" class='hover-effect {{ active('doc_source') }}'>Source</a>
        </li>
        <li>
            <a href="{{ path('doc_version') }}" class='hover-effect {{ active('doc_version') }}'>Version</a>
        </li>
    </ul>
</nav>
{% endblock footer %}
