{% set actor_nickname = actor.getNickname() %}
{% set actor_avatar = actor.getAvatarUrl() %}
{% set actor_tags = actor.getSelfTags()[1] %} {# Take only the actor_tags, not the circles #}
{% set actor_bio = actor.getBio() %}
{% set actor_uri = actor.getUri() %}

{% block profile_view %}
    <section id='profile-{{ actor.id }}' class='profile' title="{{ actor_nickname }}'s {{ 'profile information.' | trans }}">
        <a href="{{ actor_uri }}">
            <div class="profile-info">
                <img src='{{ actor_avatar }}' class="profile-avatar" alt="{{ actor_nickname }}{{ '\'s avatar.' | trans }}">
                <strong class="profile-info-nickname" title="{{ actor_nickname }}{{ '\'s nickname.' | trans }}">{{ actor_nickname }}</strong>

                <section class="profile-info-bio">
                    {% if actor_bio %}
                        <p>{{ actor_bio }}</p>
                    {% else %}
                        <p>{{ '(No bio)' | trans }}</p>
                    {% endif %}
                </section>
            </div>
        </a>

        <section class="profile-info-stats">
            <div><strong>{{ 'Subscribed' | trans }}</strong>{{ actor.getSubscribedCount() }}</div>
            <div><strong>{{ 'Subscribers' | trans }}</strong>{{ actor.getSubscribersCount() }}</div>
        </section>

        <nav class="profile-info-tags">
            {% if actor_tags %}
                {% for tag in actor_tags %}
                  {% include 'cards/tag/actor_tag.html.twig' with { 'tag': tag, 'actor': actor } %}
                {% endfor %}
            {% else %}
                {{ '(No tags)' | trans }}
            {% endif %}
        </nav>

        {% for block in handle_event('AppendCardProfile', {'actor': actor}) %}
            {{ block | raw }}
        {% endfor %}
    </section>
{% endblock profile_view %}
