{% set actor_nickname = actor.getNickname() %}
{% set actor_avatar = actor.getAvatarUrl() %}
{% set actor_avatar_dimensions = actor.getAvatarDimensions() %}
{% set actor_tags = actor.getSelfTags() %}
{% set actor_has_bio = actor.hasBio() %}
{% set actor_uri = actor.getUri() %}
{% set actor_url = actor.getUrl() %}
{% set actor_is_local = actor.getIsLocal() %}
{% set mention = mention(actor) %}

{% block profile_view %}
    <section id='profile-{{ actor.id }}' class='profile' title="{{ actor_nickname }}'s {{ 'profile information.' | trans }}">
        <header>
            <div class="profile-info">
                <img src="{{ actor_avatar }}" class="profile-avatar avatar" alt="{% trans %} %actor_nickname%'s avatar. {% endtrans %}" width="{{actor_avatar_dimensions['width']}}" height="{{actor_avatar_dimensions['height']}}">
                <div>
                    <a class="profile-info-url" href="{{ actor_uri }}">
                        <strong class="profile-info-url-nickname" title="{{ actor_nickname }}{{ '\'s nickname.' | trans }}">{{ actor_nickname }}</strong>
                        {% if not actor_is_local %}
                            <span class="profile-info-url-remote">{{ mention }}</span>
                        {% endif %}
                    </a>
                    <ul class="profile-info-actions">
                        {% for current_action in get_profile_actions(actor) %}
                            <li>
                                <a title="{{ current_action["title"] | trans }}"
                                   class="{{ current_action["classes"] }}"
                                   href="{{ current_action["url"] }}"></a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="profile-stats">
                <span class="profile-stats-subscriptions"><strong><a href="{{ actor.getSubscriptionsUrl() }}">{{ 'Subscribed' | trans }}</a></strong>{{ actor.getSubscribedCount() }}</span>
                <span class="profile-stats-subscribers"><strong><a href="{{ actor.getSubscribersUrl() }}">{{ 'Subscribers' | trans }}</a></strong>{{ actor.getSubscribersCount() }}</span>
            </div>
        </header>
        <div>
            <section class="profile-bio">
                <span>{{ actor.getBio() }}</span>
            </section>

            <nav class="profile-tags">
                {% for tag in actor_tags %}
                    {% include 'cards/tag/actor_tag.html.twig' with { 'tag': tag, 'actor': actor } %}
                {% endfor %}
            </nav>
        </div>
        {% for block in handle_event('AppendCardProfile', { 'actor': actor }) %}
            {{ block | raw }}
        {% endfor %}
    </section>
{% endblock profile_view %}
