<article class="h-entry embed">
    <header>
        {% if attributes['has_attachment'] != false %}
            {% set thumbnail_parameters = {
                'id': embed.getAttachmentId(),
                'size': 'medium'
            } %}
            <img alt="{{embed.getTitle() | escape}}" class="{{attributes['class']}}"
                 width="{{attributes['width']}}" height="{{attributes['height']}}"
                 src="{{ path('attachment_thumbnail', thumbnail_parameters) }}" />
        {% endif %}
        <h5 class="p-name embed">
            <a class="u-url" href="{{link.getUrl()}}">{{embed.getTitle() | escape}}</a>
        </h5>
        <div class="p-author embed">
            {% if embed.getAuthorName() is not null %}
                <div class="fn vcard author">
                    {% if embed.getAuthorUrl() is null %}
                        <p>{{embed.getAuthorName()}}</p>
                    {% else %}
                        <a href="{{embed.getAuthorUrl()}}" class="url">{{embed.getAuthorName()}}</a>
                    {% endif %}
                </div>
            {% endif %}
            {% if embed.getProviderName() is not null %}
                <div class="fn vcard">
                    {% if embed.getProviderUrl() is null %}
                        <p>{{embed.getProviderName()}}</p>
                    {% else %}
                        <a href="{{embed.getProviderUrl()}}" class="url">{{embed.getProviderName()}}</a>
                    {% endif %}
                </div>
            {% endif %}
        </div>
    </header>
    <div class="p-summary embed">
        {{ embed.getDescription() | escape }}
    </div>
</article>
