<aside id='right-panel'>

    {% if post_form is defined %}
        {{ form_start(post_form) }}
        <div class="create-notice">
            <div class="target">
                <div class="target-top">
                    {{ form_label(post_form.to) }}
                </div>
                <div class="target-bot">
                    {{ form_widget(post_form.to) }}
                </div>
            </div>
            <div class="create-right">
                <div class="create-top-right">
                    <div class="scope">
                        {{ form_row(post_form.visibility) }}
                    </div>
                    <div class="tabs">
                        {% for tab in tabs %}
                            <a href={{ path(tab['href']) }}>{{ tab['title'] }}</a>
                        {% endfor %}
                    </div>
                </div>
                <div class="input-wrapper">
                    <div class="content-input">
                        {{ form_row(post_form.content) }}
                    </div>
                </div>
                <div class="notice-options">
                    <div class="attachments">
                        <label for="{{ post_form.attachments.vars.id }}" class="custom-file-upload">
                            {{ form_widget(post_form.attachments) }}
                        </label>
                    </div>
                    <div class="post">
                        {{ form_row(post_form.post) }}
                    </div>
                </div>
            </div>
        </div>
        {{ form_end(post_form) }}

    {% endif %}

    {% set current_path = app.request.get('_route') %}
    {% if right_panel_vars is defined %}
        {% for block in handle_event('AppendRightPanelBlock', {'path': current_path, 'vars': right_panel_vars}) %}
            {{ block | raw }}
        {% endfor %}
    {% else %}
        {% for block in handle_event('AppendRightPanelBlock', {'path': current_path}) %}
            {{ block | raw }}
        {% endfor %}
    {% endif %}
</aside>
