<aside id='right-panel'>
    {% if post_form is defined %}
        <section class="section-widget">
            <legend class="section-title">
                <details>
                    <summary class="section-title-hamburger">
                        Create a note {{ icon('plus-circle', 'icon icon-plus') | raw }}
                    </summary>

                    {% for tab in tabs %}
                        <a class="section-title-hamburger-element" href={{ path(tab['href']) }}>{{ tab['title'] }}</a>
                    {% endfor %}
                </details>
            </legend>

            <div class="section-form">
                {{ form_start(post_form) }}

                <span class="form-target">
                    {{ form_label(post_form.to) }}
                    {{ form_widget(post_form.to) }}
                </span>

                {{ form_row(post_form.visibility, {'attr': {'class': 'form-scope'}}) }}

                {{ form_row(post_form.content, {'attr': {'class': 'form-input'}}) }}

                <label for="{{ post_form.attachments.vars.id }}" class="form-options">
                    {{ form_widget(post_form.attachments) }}
                </label>

                {{ form_row(post_form.post, {'attr': {'class': 'form-send'}}) }}

                {{ form_end(post_form) }}
            </div>
        </section>
    {% endif %}

    {% set current_path = app.request.get('_route') %}
    {% if right_panel_vars is defined %}
        {% for block in handle_event('AppendRightPanelBlock', {'path': current_path, 'vars': right_panel_vars}) %}
            <section class="section-widget">
                {{ block | raw }}
            </section>
        {% endfor %}
    {% else %}
        {% for block in handle_event('AppendRightPanelBlock', {'path': current_path}) %}
            <section class="section-widget">
                {{ block | raw }}
            </section>
        {% endfor %}
    {% endif %}
</aside>
