<div class="panel panel-right">
    <input type="checkbox" id="panel-right-toggle" aria-hidden="true" tabindex="-1">
    <label id="panel-right-icon" for="panel-right-toggle" aria-hidden="true" tabindex="-1">{{ icon('notes', 'icon icon-right') | raw }}</label>

    <a id="anchor-right-panel" class="anchor-hidden" title="{{ 'Press tab to access selected region!' | trans }}"></a>
    <aside class="panel-content accessibility-target">

        {% set post_form = handle_event('AppendRightPostingBlock', {'request': request}) %}
        {% if post_form is defined %}
            <section class="section-widget" title={{ 'Create a new note.' | trans }}>
                <details class="section-title-details" title={{ 'Expand if you want to access more options.' | trans }}>
                    <summary class="section-title-summary">
                        {{ "Create a note" | trans }}{{ icon('arrow-down', 'icon icon-details-open') | raw }}
                    </summary>
                </details>

                <div class="section-form">
                    <fieldset>
                        {{ form_start(post_form) }}

                        {{ form_row(post_form.to, {'attr': {'class': 'section-form-scope'}}) }}

                        {{ form_row(post_form.visibility, {'attr': {'class': 'section-form-scope'}}) }}

                        {{ form_row(post_form.content, {'attr': {'class': 'section-form-textarea'}}) }}

                        <label for="{{ post_form.attachments.vars.id }}" class="section-form-options">
                            {{ form_widget(post_form.attachments) }}
                        </label>

                        {{ form_row(post_form.post_note, {'attr': {'class': 'section-form-send'}}) }}

                        {{ form_end(post_form) }}
                    </fieldset>
                </div>
            </section>

        {% endif %}

        {% set current_path = app.request.get('_route') %}

        {% if right_panel_vars is defined %}
            {% for block in handle_event('AppendRightPanelBlock', {'path': current_path, 'vars': right_panel_vars}) %}
                {{ block | raw }}
            {% endfor %}
        {% else %}
            {% for block in handle_event('AppendRightPanelBlock', {'path': current_path}) %}
                {{ block | raw }}
            {% endfor %}
        {% endif %}

    </aside>
</div>
