<aside id='right-panel'>

    {% if post_form is defined %}

        <section class="create-notice bg">
            {{ form_start(post_form) }}
            <legend class="section-title">Create a note</legend>

            <div class="section-content">
                    <span class="target">
                        <div class="target-top">
                            {{ form_label(post_form.to) }}
                        </div>
                        <div class="target-bot">
                            {{ form_widget(post_form.to) }}
                        </div>
                    </span>

                <hr>

                <span class="scope">
                        <div class="visibility">
                            {{ form_row(post_form.visibility) }}
                        </div>
                    </span>

                <hr>

                <span id="input">
                        <div class="input-wrapper">
                            <div class="content-input">
                                {{ form_row(post_form.content) }}
                            </div>
                        </div>

                        <div class="notice-options">
                            <div class="attachments">
                                <label for="{{ post_form.attachments.vars.id }}" class="custom-file-upload">
                                    {{ form_widget(post_form.attachments) }}
                                </label>
                            </div>

                            <br>
                            {{ form_row(post_form.post) }}
                        </div>
                    </span>
            </div>
            {{ form_end(post_form) }}

            <details>
                <summary>Other notes...</summary>
                <div id="note-types">
                    {% for tab in tabs %}
                        <a href={{ path(tab['href']) }}>{{ tab['title'] }}</a>
                    {% endfor %}
                </div>
            </details>

        </section>


    {% endif %}

    {% set current_path = app.request.get('_route') %}
    {% if right_panel_vars is defined %}
        {% for block in handle_event('AppendRightPanelBlock', {'path': current_path, 'vars': right_panel_vars}) %}
            {{ block | raw }}
        {% endfor %}
    {% else %}
        {% for block in handle_event('AppendRightPanelBlock', {'path': current_path}) %}
            {{ block | raw }}
        {% endfor %}
    {% endif %}
</aside>
