{% extends 'faq/base.html.twig' %}

{% block title %}Help{% endblock %}

{% block body %}
      {{ parent() }}
      <nav class='faq-nav'>
            <ul>
                  <li>
                        <a href="{{ path('doc_faq') }}" class='hover-effect'>FAQ</a>
                  </li>
                  <li>
                        <a href="{{ path('doc_help') }}" class='hover-effect'>Help</a>
                  </li>
                  <li>
                        <a href="{{ path('doc_about') }}" class='hover-effect active'>About</a>
                  </li>
                  <li>
                        <a href="{{ path('doc_contact') }}" class='hover-effect'>Contact</a>
                  </li>
                  <li>
                        <a href="{{ path('doc_tags') }}" class='hover-effect'>Tags</a>
                  </li>
                  <li>
                        <a href="{{ path('doc_groups') }}" class='hover-effect'>Groups</a>
                  </li>
                  <li>
                        <a href="{{ path('doc_api') }}" class='hover-effect'>API</a>
                  </li>
                  <li>
                        <a href="{{ path('doc_openid') }}" class='hover-effect'>OpenID</a>
                  </li>
            </ul>
      </nav>

      <div class="content">
            {% apply markdown_to_html %}
                  ## About

                  GNU social is a social network based on the Free Software [GNU social](https://git.gnu.io/gnu/gnu-social) tool.

                  If you [register](https://loadaverage.org/main/register) for an account, you can post small (0 chars or less) text notices about yourself, where you are, what you're doing, or practically anything you want. You can also subscribe to the notices of your friends, or other people you're interested in, and follow them on the Web or in an [RSS](https://en.wikipedia.org/wiki/RSS) feed.
            {% endapply %}
      </div>
{% endblock %}