{% extends 'faq/base.html.twig' %}

{% block title %}Help{% endblock %}

{% block body %}
      {{ parent() }}
      <nav class='faq-nav'>
            <ul>
                  <li>
                        <a href="{{ path('doc_faq') }}" class='hover-effect'>FAQ</a>
                  </li>
                  <li>
                        <a href="{{ path('doc_help') }}" class='hover-effect'>Help</a>
                  </li>
                  <li>
                        <a href="{{ path('doc_about') }}" class='hover-effect'>About</a>
                  </li>
                  <li>
                        <a href="{{ path('doc_contact') }}" class='hover-effect'>Contact</a>
                  </li>
                  <li>
                        <a href="{{ path('doc_tags') }}" class='hover-effect'>Tags</a>
                  </li>
                  <li>
                        <a href="{{ path('doc_groups') }}" class='hover-effect'>Groups</a>
                  </li>
                  <li>
                        <a href="{{ path('doc_api') }}" class='hover-effect active'>API</a>
                  </li>
                  <li>
                        <a href="{{ path('doc_openid') }}" class='hover-effect'>OpenID</a>
                  </li>
            </ul>
      </nav>

      <div class="content">
            {% apply markdown_to_html %}
                  ## API
                  GNU social provides APIs that applications can use to interact with it:

                  -   [AtomPub](https://loadaverage.org/doc/atompub)
                  -   [Twitter-compatible API](https://loadaverage.org/doc/twitterapi)

                  ### API discovery

                  The base URLs for the APIs can be obtained using [Really Simple Discovery](https://en.wikipedia.org/wiki/Really_Simple_Discovery).
            {% endapply %}
      </div>
{% endblock %}