{% extends 'faq/base.html.twig' %}

{% block title %}Help{% endblock %}

{% block body %}
      {{ parent() }}
      <nav class='faq-nav'>
            <ul>
                  <li>
                        <a href="{{ path('doc_faq') }}" class='hover-effect'>FAQ</a>
                  </li>
                  <li>
                        <a href="{{ path('doc_help') }}" class='hover-effect'>Help</a>
                  </li>
                  <li>
                        <a href="{{ path('doc_about') }}" class='hover-effect'>About</a>
                  </li>
                  <li>
                        <a href="{{ path('doc_contact') }}" class='hover-effect active'>Contact</a>
                  </li>
                  <li>
                        <a href="{{ path('doc_tags') }}" class='hover-effect'>Tags</a>
                  </li>
                  <li>
                        <a href="{{ path('doc_groups') }}" class='hover-effect'>Groups</a>
                  </li>
                  <li>
                        <a href="{{ path('doc_api') }}" class='hover-effect'>API</a>
                  </li>
                  <li>
                        <a href="{{ path('doc_openid') }}" class='hover-effect'>OpenID</a>
                  </li>
            </ul>
      </nav>

      <div class="content">
            {% apply markdown_to_html %}
                  ## Contact

                  There are a number of options for getting in contact with responsible people for GNU social.

                  ### Bugs

                  If you think you've found a bug in the underlying [GNU social](https://gnu.io/social/) software, or if there's a new feature you'd like to see, add it into the [GNU social task list](https://git.gnu.io/gnu/gnu-social/issues). Don't forget to check the list of existing bugs to make sure it hasn't already been reported!

                  ### Email

                  You can reach the responsible party for this server at [gnusocial@loadaverage.org](mailto:gnusocial@loadaverage.org).

                  ### Post a notice

                  If you have a question about how to do something, just post a notice with your question, preferrably tagged with #NewHere. Watch your inbox for replies.
            {% endapply %}
      </div>
{% endblock %}