{% extends 'faq/base.html.twig' %}

{% block title %}Help{% endblock %}

{% block body %}
      {{ parent() }}
      <nav class='faq-nav'>
            <ul>
                  <li>
                        <a href="{{ path('doc_faq') }}" class='hover-effect'>FAQ</a>
                  </li>
                  <li>
                        <a href="{{ path('doc_help') }}" class='hover-effect active'>Help</a>
                  </li>
                  <li>
                        <a href="{{ path('doc_about') }}" class='hover-effect'>About</a>
                  </li>
                  <li>
                        <a href="{{ path('doc_contact') }}" class='hover-effect'>Contact</a>
                  </li>
                  <li>
                        <a href="{{ path('doc_tags') }}" class='hover-effect'>Tags</a>
                  </li>
                  <li>
                        <a href="{{ path('doc_groups') }}" class='hover-effect'>Groups</a>
                  </li>
                  <li>
                        <a href="{{ path('doc_api') }}" class='hover-effect'>API</a>
                  </li>
                  <li>
                        <a href="{{ path('doc_openid') }}" class='hover-effect'>OpenID</a>
                  </li>
            </ul>
      </nav>

      <div class="content">
            {% apply markdown_to_html %}
                  ## Help
                  GNU social is a **social service**. Users can post short (0 character) status messages which are broadcast to their friends and colleagues on the service and (optionally) onto the Web.

                  You can also broadcast other types of data, like bookmarks, event invitations, polls, and questions.

                  If you'd like to try it out, first register a new account. Then, on the public timeline, enter your message into the textbox at the top of the page, and click "Send". It will go out on the public timeline and to anyone who is subscribed to your notices.

                  To subscribe to other people's notifications, go to their profile page and click the "subscribe" button. They'll get a notice that you're now subscribed to their notifications.
            {% endapply %}
      </div>
{% endblock %}