{% extends 'stdgrid.html.twig' %}

{% set id = actor.getId() %}
{% set nickname = actor.getNickname() %}
{% set actor_bio = actor.getBio() %}
{% set actor_tags = actor.getSelfTags() %}
{% set avatar = actor.getAvatarUrl() %}

{% block title %}{{ nickname }}'s profile{% endblock %}

{% block body %}
<section title="{{ nickname }}'s {{ 'profile information.' | trans }}">
    <a class='profile' href="{{ path('actor_view_nickname', {'nickname' : nickname}) }}">
        <img src="{{ avatar }}" class="profile-avatar" alt="{{ nickname }}{{ '\'s avatar.' | trans }}">
        <div class="profile-info">
            <strong id="profile-info-nickname" title="{{ nickname }}{{ '\'s nickname.' | trans }}">{{ nickname }}</strong>

            <nav class="profile-info-tags">
                {% if actor_tags %}
                    {% for tag in actor_tags %}
                        <a href='#'><i> #{{ tag }} </i></a>
                    {% endfor %}
                {% else %}
                    {{ '(no tags)' | trans }}
                {% endif %}
            </nav>


            <section class="profile-info-stats">
                {% if actor_bio %}
                    <p>{{ actor_bio }}</p>
                {% else %}
                    <p>{{ '(no bio)' | trans }}</p>
                {% endif %}
            </section>
        </div>
    </a>
</section>

<hr>

<main class="timeline" tabindex="0" role="feed">
    <div class="h-feed hfeed notes">
        {% if notes is defined and notes is not empty %}
            {% for conversation in notes %}
                {% include '/note/view.html.twig' with {'note': conversation['note'], 'have_user': have_user, 'replies': conversation['replies']} only %}
                <hr tabindex="0" title="{{ 'End of note and replies.' | trans }}">
            {% endfor %}
        {% else %}
            <div id="empty-notes"><h1>{% trans %}No notes here.{% endtrans %}</h1></div>
        {% endif %}
    </div>
</main>
{% endblock body %}