{% extends 'settings/base.html.twig' %}

{% block title %}Notification Settings{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block form %}
    <div id='form-tabs'>
        <h1>Settings / Notifications </h1>

        <ul>
            {% for transport, form in tabbed_forms %}
                <input type="radio" id="toggle-{{ transport }}" name="tabs"
                       value="toggle-{{ transport }}" {% if transport == "email" %} checked {% endif %}>
                <label for="toggle-{{ transport }}" id='tabs'>
                    {{ transport }}
                </label>
                <div id="form_{{ transport }}" class='form'>
                    {{ form(form) }}
                </div>
            {% endfor %}
        </ul>
    </div>
{% endblock form %}