{% block form_notify %}
    <section>

        <nav class='set-nav'>
            <ul>
                {% for transport, form_transport in tabbed_forms_notify %}
                    <li>
                        <details class="section-title-settings">
                            <summary>
                                <h3>{{ transport }}{{ icon('arrow-down', 'icon icon-details-open') | raw }}</h3>
                                <em>{{ transport }}'s notification options.</em>
                            </summary>

                            <div id="form_{{ transport }}" class='form'>
                                {{ form(form_transport) }}
                            </div>
                        </details>
                    </li>
                    <hr>
                {% endfor %}
            </ul>
        </nav>

    </section>
{% endblock %}