{% block form_notify %}
    <div class='form'>
        <div class="separator"></div>
        <ul>
            {% for transport, form_transport in tabbed_forms_notify %}
                <input type="radio" id="toggle-{{ transport }}" name="tabs"
                       value="toggle-{{ transport }}" {% if transport == "email" %} checked {% endif %}>
                <label for="toggle-{{ transport }}" id='tabs'>
                    {{ transport }}
                </label>
                <div id="form_{{ transport }}" class='form'>
                    {{ form(form_transport) }}
                </div>
            {% endfor %}
        </ul>
    </div>
{% endblock %}