{% extends 'stdgrid.html.twig' %}

{% block title %}{{ 'Remove favourite from ' | trans }}{{ note.getActorNickname() }}{{ '\'s note.' | trans }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/default_theme/css/pages/feeds.css') }}" type="text/css">
{% endblock stylesheets %}

{% block body %}
    {{ parent() }}
    <div class="page">
        <div class="main">
            {% include '/cards/note/view.html.twig' with {'note': note, 'note_actions_show': false} only %}
            {{ form(remove_favourite) }}
        </div>
    </div>
{% endblock body %}
