{% extends 'stdgrid.html.twig' %}

{% block meta %}
    {{ parent() }}
{% endblock %}

{% block title %}{{ 'Reply to ' | trans }}{{ note.getActorNickname() }}{{ '\'s note.' | trans }}{% endblock %}

{% block header %}
    {{ parent() }}
{% endblock %}

{% block left %}
    {{ parent() }}
{% endblock %}

{% block body %}
    {{ parent() }}
    <div class="page">
        <div class="main">
            {% include '/cards/note/view.html.twig' with {'note': note} only %}
            {{ form(reply) }}
        </div>
    </div>
{% endblock body %}
