{% block rightpanel %}
    <label class="panel-right-icon" for="panel-right-toggle" aria-hidden="true"
           tabindex="-1">{{ icon('notes', 'icon icon-right') | raw }}</label>
    <input type="checkbox" id="panel-right-toggle" aria-hidden="true" tabindex="-1">

    <div class="header-panel section-panel-right accessibility-target">
        <a id="anchor-right-panel" class="anchor-hidden" title="{{ 'Press tab to access selected region!' | trans }}"></a>
        <aside class="panel-content">

            {% set blocks = handle_event('AppendRightPostingBlock', request) %}
            {% if blocks['post_form'] is defined %}
                <section class="section-widget" title={{ 'Create a new note.' | trans }}>
                    <details class="section-title-details"
                             title={{ 'Expand if you want to access more options.' | trans }}>
                        <summary class="section-title-summary">
                            {{ "Create a note" | trans }}{{ icon('arrow-down', 'icon icon-details-open') | raw }}
                        </summary>
                    </details>

                    <div class="section-form">
                        <fieldset>
                            {{ form(blocks['post_form']) }}
                        </fieldset>
                    </div>
                </section>
            {% endif %}

            {% set current_path = app.request.get('_route') %}
            {% for block in handle_event('AppendRightPanelBlock', {'path': current_path, 'vars': right_panel_vars | default }) %}
                {{ block | raw }}
            {% endfor %}

        </aside>
    </div>
{% endblock rightpanel %}
