{% block rightpanel %}
    <label class="panel-right-icon" for="panel-right-toggle" aria-hidden="true"
           tabindex="-1">{{ icon('chevron-left', 'icon icon-right') | raw }}</label>
    <input type="checkbox" id="panel-right-toggle" aria-hidden="true" tabindex="-1">

    <div class="header-panel section-panel-right">
        <a id="anchor-right-panel" class="anchor-hidden" title="{{ 'Press tab to access selected region!' | trans }}"></a>
        <aside class="panel-content accessibility-target">

            {% set blocks = handle_event('AppendRightPostingBlock', request) %}
            {% if blocks['post_form'] is defined %}
                <section class="section-widget" title="{{ 'Create a new note.' | trans }}">
                    <details class="section-widget-title-details" open="open"
                             title="{{ 'Expand if you want to access more options.' | trans }}">
                        <summary class="section-title-summary">
                            <h2>
                                {{ "Create a note" | trans }}
                            </h2>
                            {{ icon('arrow-down', 'icon icon-details-open') | raw }}
                        </summary>

                        <div class="section-form">
                            <fieldset>
                                {{ form_start(blocks['post_form']) }}
                                {% if blocks['post_form'].in is defined %}
                                    {{ form_row(blocks['post_form'].in) }}
                                {% endif %}
                                {{ form_row(blocks['post_form'].visibility) }}
                                {{ form_row(blocks['post_form'].content) }}
                                {{ form_row(blocks['post_form'].attachments) }}

                                <details class="section-widget-subtitle-details">
                                    <summary class="section-subtitle-summary">
                                        <strong>
                                            {{ "Additional options" | trans }}
                                        </strong>
                                        {{ icon('arrow-down', 'icon icon-details-close') | raw }}
                                    </summary>
                                    {{ form_row(blocks['post_form'].language) }}
                                    {{ form_row(blocks['post_form'].tag_use_canonical) }}
                                </details>
                                {{ form_rest(blocks['post_form']) }}
                                {{ form_end(blocks['post_form']) }}
                            </fieldset>
                        </div>
                    </details>
                </section>
            {% endif %}

            {% set current_path = app.request.get('_route') %}
            {% for block in handle_event('AppendRightPanelBlock', {'path': current_path, 'request': request, 'vars': right_panel_vars | default }, request) %}
                {{ block | raw }}
            {% endfor %}

        </aside>
    </div>
{% endblock rightpanel %}
