<!DOCTYPE html>
<html xml:lang="en" lang="en">
<head>
    {% block meta %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    {% endblock %}

    <title>
        {% block title %}{% endblock %}
    </title>

    {% block stylesheets %}
        <link rel='stylesheet' type='text/css' href="{{ asset('assets/css/reset.css') }}">

        <link rel='stylesheet' type='text/css' href="{{ asset('assets/fonts/inter/inter.css') }}">
        <link rel='stylesheet' type='text/css' href="{{ asset('assets/fonts/manrope/manrope.css') }}">
        <link rel='stylesheet' type='text/css' href="{{ asset('assets/css/base.css') }}">

        {% for stylesheet in show_stylesheets() %}
            <link rel='stylesheet' type='text/css' href="{{ asset('assets/css/' ~ stylesheet) }}">
        {% endfor %}
    {% endblock %}

    {% for arr in handle_event('ShowHeadElements', app.request) %}
        {# Only one element, but has dynamic value, can't access it directly #}
        {% for type, element in arr %}
            <{{ type }} rel="{{ element['rel'] }}" type="{{ element['type'] }}" href="{{ element['href'] }}" title="{{ element['title'] }}">
        {% endfor %}
    {% endfor %}
</head>

<body class="bg">
<a id="anchor-menu" class="anchor-hidden"></a>
<aside class="accessibility-menu" tabindex="0">
    <h2>{{ 'Select page section:' | trans }}</h2>
    <br>
    <p>
        {% if is_firefox() == true %}
            <em><kbd>Alt</kbd> + <kbd>Shift</kbd> + "access key"</em>
        {% else %}
            <em><kbd>Alt</kbd> + "access key"</em>
        {% endif %}
    </p>

    <nav>
        <ul>
            <li><a href="#anchor-menu" accesskey="m">{{ 'This menu, (press \'m\' to access).' | trans }}</a></li>
            <li><a href="#anchor-left-panel" accesskey="h">{{ 'Left panel (press \'h\' to access).' | trans }}</a></li>
            <li><a href="#anchor-main-content" accesskey="k">{{ 'Main content (press \'k\' to access).' | trans }}</a></li>
            <li><a href="#anchor-main-page" accesskey="j">{{ 'Main page (press \'j\' to access).' | trans }}</a></li>
            <li><a href="#anchor-right-panel" accesskey="l">{{ 'Right panel (press \'l\' to access).' | trans }}</a></li>
        </ul>
    </nav>
</aside>

{% block header %}
    <header id='header' role="banner">
        {{ block("leftpanel", "stdgrid.html.twig") }}

        <a role="navigation" rel="help" id="anchor-main-page" class="anchor-hidden"></a>
        <a id='instance' href="{{ path('main_public') }}" tabindex="0" title="{{ 'This instance\'s name. Access public timeline.' | trans }}">
            <h1>{{ icon('logo', 'icon icon-logo') | raw }}{{ config('site', 'name') }} </h1>
        </a>

        {% if app.user %}
            {{ block("rightpanel", "stdgrid.html.twig") }}
        {% endif %}
    </header>
{% endblock header %}

<div class="container">
    <a role="navigation" rel="help" id="anchor-main-content" class="anchor-hidden"></a>
    <div class='content'>
        {% block nav %}{% endblock %}
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock javascripts %}
    </div>
</div>
</body>
</html>

