<!DOCTYPE html>
<html xml:lang="en" lang="en">
<head>
    {% block meta %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    {% endblock %}

    <title>
        {% block title %}{% endblock %}
    </title>

    {% block stylesheets %}
        <link rel='stylesheet' type='text/css' href="{{ asset('assets/css/reset.css') }}">

        <link rel='stylesheet' type='text/css' href="{{ asset('assets/fonts/inter/inter.css') }}">
        <link rel='stylesheet' type='text/css' href="{{ asset('assets/fonts/manrope/manrope.css') }}">
        <link rel='stylesheet' type='text/css' href="{{ asset('assets/css/base.css') }}">

        {% for stylesheet in show_stylesheets() %}
            <link rel='stylesheet' type='text/css' href="{{ asset('assets/css/' ~ stylesheet) }}">
        {% endfor %}
    {% endblock %}

    {% for arr in handle_event('ShowHeadElements', app.request) %}
        {# Only one element, but has dynamic value, can't access it directly #}
        {% for type, element in arr %}
            <{{ type }} rel="{{ element['rel'] }}" type="{{ element['type'] }}" href="{{ element['href'] }}" title="{{ element['title'] }}">
        {% endfor %}
    {% endfor %}
</head>

<body class="bg" aria-live="polite">
<a id="anchor-menu" class="anchor-hidden"></a>
<aside class="accessibility-menu" accesskey="z" tabindex="0" aria-roledescription="{{ 'Learn keybindings to select each of the main areas.' | trans }}">
    <h2>{{ 'Select page section:' | trans }}</h2>
    <br>

    <p>
        <em><b>Firefox based browser: </b> <kbd>Alt</kbd> + <kbd>Shift</kbd> + "access key"</em>
        <br>
        <em><b>Others: </b> <kbd>Alt</kbd> + "access key"</em>
    </p>

    <ul>
        <li><a href="#anchor-menu" accesskey="z">{{ 'This menu (press \'z\' to access).' | trans }}</a></li>
        <li><a href="#anchor-left-panel" accesskey="g">{{ 'Left panel (press \'g\' to access).' | trans }}</a></li>
        <li><a href="#anchor-main-content" accesskey="n">{{ 'Main content (press \'n\' to access).' | trans }}</a></li>
        <li><a href="#anchor-main-page" accesskey="y">{{ 'Main page (press \'y\' to access).' | trans }}</a></li>
        <li><a href="#anchor-right-panel" accesskey="j">{{ 'Right panel (press \'j\' to access).' | trans }}</a></li>
    </ul>
</aside>

{% block header %}
    <header id='header' role="banner">
        {{ block("leftpanel", "stdgrid.html.twig") }}

        <a id="anchor-main-page" class="anchor-hidden"></a>
        <a id='instance' href="{{ path('main_public') }}" tabindex="0" aria-roledescription="This instance name.">
            <div aria-hidden="true">{{ icon('logo', 'icon icon-logo') | raw }}</div>
            <h1> {{ config('site', 'name') }} </h1>
        </a>

        {% if app.user %}
            {{ block("rightpanel", "stdgrid.html.twig") }}
        {% endif %}
    </header>
{% endblock header %}

<div class="container">
    <a id="anchor-main-content" class="anchor-hidden"></a>
    <div class='content' aria-roledescription="Main content.">
        {% block nav %}{% endblock %}
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock javascripts %}
    </div>
</div>
</body>
</html>

