<div class="panel panel-left">
    <input type="checkbox" id="panel-left-toggle">
    <label for="panel-left-toggle">{{ icon('menu', 'icon icon-left') | raw }}</label>

    <aside class="panel-content">
        <nav class='profile-nav'>
            {% if app.user %}
                <section class='profile' role="complementary">
                    <div id="profile-links">
                        <a id="user-avatar" href="{{ path('settings') }}">
                            <img src='{{ user_avatar }}' alt="Your avatar." class="icon icon-avatar">
                        </a>

                        <span id="user-info">
                        <a id="user-nick" href="{{ path('settings') }}">
                            <h1>{{ user_nickname }}</h1>
                        </a>
                        <div id="user-tags">
                            {% if user_tags %}
                                {% for tag in user_tags %}
                                    <a href='#'> #{{ tag }}</a>
                                {% endfor %}
                            {% else %}
                                {{ '(No tags)' | trans }}
                            {% endif %}
                        </div>
                    </span>
                    </div>

                    <section id="stats">
                        <label>{{ 'Followers' | trans }} {{ user_followers }}</label>
                        <label>{{ 'Followed' | trans }} {{ user_followed }}</label>
                    </section>

                    {# {% for extra in profile_extras %}
                    {% include '/'~ extra.name ~ '/view.html.twig' with {'vars': extra.vars} only %}
                {% endfor %} #}
                </section>

                <nav role="navigation">
                    <a href='#'>Messages</a>
                    <a href="{{ path("replies", {'nickname' : user_nickname}) }}"
                       class='hover-effect {{ active("replies") }}'>Replies</a>
                    {% for link in handle_event('InsertLeftPanelLink', user_nickname) %}
                        {{ link | raw }}
                    {% endfor %}
                    <a href="{{ path('settings') }}"
                       class='hover-effect {{ active('settings_') }}'>Settings</a>
                    <a href='{{ path('logout') }}'>Logout</a>
                </nav>

            {% else %}
                <nav>
                    <a href="{{ path('login') }}" class='hover-effect {{ active('login') }}'>Login</a>
                    <a href="{{ path('register') }}">Register</a>
                </nav>
            {% endif %}

            <div class="timeline-nav" role="menu">
                <nav>
                    <h1 role="tab">Timeline</h1>

                    <nav class='sec-nav' role="navigation">
                        <a href="{{ path('main_public') }}"
                           class='{{ active('main_public') }}'>Public</a>

                        {% if user_nickname is defined %}
                            <a href="{{ path("home_all", {'nickname' : user_nickname}) }}"
                               class='{{ active("home_all") }}'>Home</a>
                        {% endif %}

                        <a href="{{ path('main_all') }}" class='hover-effect {{ active('main_all') }}'>Network</a>

                        {% if main_nav_tabs is defined %}
                            {% for tab in main_nav_tabs %}
                                <a href="{{ path(tab['route']) }}"
                                   class='{{ active(tab['route']) }}'>{{ tab['title'] }}</a>
                            {% endfor %}
                        {% endif %}
                    </nav>
                </nav>

            </div>

        </nav>

        <div class="footer" role="contentinfo">
            <a href="{{ path('doc_faq') }}" class='hover-effect {{ active('doc_faq') }}'>FAQ</a>
            <a href="{{ path('doc_tos') }}" class='hover-effect {{ active('doc_tos') }}'>TOS</a>
            <a href="{{ path('doc_privacy') }}" class='hover-effect {{ active('doc_privacy') }}'>Privacy</a>
            <a href="{{ path('doc_source') }}" class='hover-effect {{ active('doc_source') }}'>Source</a>
            <a href="{{ path('doc_version') }}" class='hover-effect {{ active('doc_version') }}'>Version</a>
        </div>
    </aside>
</div>