<div class="panel panel-left">
    <input type="checkbox" id="panel-left-toggle" aria-hidden="true" tabindex="-1">
    <label id="panel-left-icon" for="panel-left-toggle" aria-hidden="true" tabindex="-1">{{ icon('menu', 'icon icon-left') | raw }}</label>

    <a id="anchor-left-panel" class="anchor-hidden" title="{{ 'Press tab to access selected region!' | trans }}"></a>
    <aside class="panel-content accessibility-target">
        {% if app.user %}
            <section class='section-widget section-widget-padded' title="{{ 'Your profile information.' | trans }}">

                {% block profile_view %}{% include 'cards/profile/view.html.twig' with { actor: current_actor } %}{% endblock profile_view %}

                <nav tabindex="0" class="profile-navigation" title="{{ 'Navigate through account related pages.' | trans }}">
                    <a title='{{ 'Your messages.' | trans }}' href='{{ path('settings') }}' class='{{ active("replies") }}'>
                        Messages
                    </a>

                    <a title='{{ 'Replies to your notes.' | trans }}' href="{{ path('replies', {'nickname' : current_actor.getNickname()}) }}" class='{{ active("replies") }}'>
                        Replies
                    </a>


                    {% for tab in handle_event('AddProfileNavigationItem', {'nickname': current_actor.getNickname()}) %}
                        <a href="{{ tab['path'] }}">
                            {{ tab['title'] }}
                        </a>
                    {% endfor %}

                    <a title='{{ 'Access your account settings.' | trans }}' href="{{ path('settings') }}" class='{{ active('settings') }}'>
                        Settings
                    </a>

                    <a title='{{ 'Logout from your account.' | trans }}' href='{{ path('logout') }}'>
                        Logout
                    </a>
                </nav>

            {% else %}

                <section class='section-widget section-widget-padded' title="{{ 'Your profile information.' | trans }}">
                    <h2 class="section-title">Account</h2>
                    <nav tabindex="0" class="profile-navigation" title="{{ 'Navigate through account related pages.' | trans }}">

                        <a title='{{ 'Login with your existing account.' | trans }}' href="{{ path('login') }}" class='hover-effect {{ active('login') }}'>
                            Login
                        </a>

                        <a title='{{ 'Register a new account!' | trans }}' href="{{ path('register') }}">
                            Register
                        </a>

                    </nav>
                </section>

            {% endif %}
        </section>

        <section class="section-widget section-widget-padded">
            <h2 class="section-title">Timeline</h2>
            <nav class='sec-nav' tabindex="0" title="{{ 'Navigate through each timeline.' | trans }}">
                <ul>
                    <li>
                        <a href="{{ path('main_public') }}" class='{{ active('main_public') }}'>
                            Public
                        </a>
                    </li>
                    <li>
                        {% if app.user %}
                            <a href="{{ path("home_all", {'nickname' : current_actor.getNickname()}) }}" class='{{ active("home_all") }}'>
                                Home
                            </a>
                        {% endif %}
                    </li>
                    <li>
                        <a href="{{ path('main_all') }}" class='hover-effect {{ active('main_all') }}'>
                            Network
                        </a>
                    </li>

                    {% if app.user %}
                        {% for link in handle_event('AddMainNavigationItem', {'nickname': current_actor.getNickname()}) %}
                            <li>
                                <a href="{{ link['path'] }}">
                                    {{ link['title'] }}
                                </a>
                            </li>
                        {% endfor %}
                    {% endif %}
                </ul>
            </nav>
        </section>

        <footer class="footer">
            <nav>
                <a href="{{ path('doc_faq') }}" class='hover-effect {{ active('doc_faq') }}'>
                    FAQ
                </a>
                <a href="{{ path('doc_tos') }}" class='hover-effect {{ active('doc_tos') }}'>
                    TOS
                </a>
                <a href="{{ path('doc_privacy') }}" class='hover-effect {{ active('doc_privacy') }}'>
                    Privacy
                </a>
                <a href="{{ path('doc_source') }}" class='hover-effect {{ active('doc_source') }}'>
                    Source
                </a>
                <a href="{{ path('doc_version') }}" class='hover-effect {{ active('doc_version') }}'>
                    Version
                </a>
            </nav>
        </footer>
    </aside>
</div>