{% block leftpanel %}
<label class="panel-left-icon" for="toggle-panel-left" tabindex="-1">{{ icon('menu', 'icon icon-left') | raw }}</label>
<a id="anchor-left-panel" class="anchor-hidden" tabindex="0" title="{{ 'Press tab followed by a space to access left panel' | trans }}"></a>
<input type="checkbox" id="toggle-panel-left" tabindex="0" title="{{ 'Open left panel' | trans }}">

<aside class="section-panel section-panel-left">
    <article class="panel-content accessibility-target">
        {% if app.user %}
            <section class='section-widget section-padding' title="{{ 'Your profile information.' | trans }}">
                {% block profile_view %}{% include 'cards/profile/view.html.twig' with { actor: current_actor } %}{% endblock profile_view %}
                {{ block("profile_current_actor", "cards/navigation/view.html.twig") }}
            </section>
        {% else %}
            <section>
                {{ block("profile_security", "cards/navigation/view.html.twig") }}
            </section>
        {% endif %}

        {{ block("feeds", "cards/navigation/view.html.twig") }}

        {{ block("footer", "cards/navigation/view.html.twig") }}
    </article>
</aside>
{% endblock leftpanel %}
