<figure>
    <img class="u-photo"
         alt="{{ title }}"
         src="{{ attachment.getThumbnailUrl(note) }}"
         width="{{ thumbnail.getWidth() }}"
         height="{{ thumbnail.getHeight() }}">
        <figcaption>
            {% if attachment.getFilename() is not null %}
                <a href="{{ attachment.getShowUrl(note) }}">{{ title }}</a>
            {% else %}
                {{ title }}
            {% endif %}
        </figcaption>
</figure>
